<mat-toolbar color="primary" class="header-toolbar">
  <button
    fxShow="true"
    fxHide.lt-md="true"
    mat-icon-button
    (click)="sidenav.toggle()"
    class="hamburger-button"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title" *ngIf="!user" fxHide.lt-md>Course management system</span>
  <span class="title" *ngIf="user" fxHide.lt-md>Welcome, {{ user.email }}</span>
  <span class="spacer"></span>
  <nav class="nav-buttons" fxHide.lt-md>
    <button mat-button routerLink="/">
      Home
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button routerLink="/login" *ngIf="!user">
      Login
      <mat-icon>login</mat-icon>
    </button>
    <button mat-button routerLink="/settings" *ngIf="user">
      Settings<mat-icon>settings</mat-icon>
    </button>
    <button mat-button (click)="openConfirmationDialog()" *ngIf="user">
      Logout
      <mat-icon>logout</mat-icon>
    </button>
  </nav>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" fxFlexFill>
  <mat-sidenav
    #sidenav
    mode="over"
    class="sidenav"
    fxLayout="column"
    fxHide.gt-md
  >
    <nav fxLayout="column">
      <button mat-button routerLink="/" (click)="sidenav.close()">
        Home
        <mat-icon>home</mat-icon>
      </button>
      <button
        mat-button
        routerLink="/login"
        *ngIf="!user"
        (click)="sidenav.close()"
      >
        Login
        <mat-icon>login</mat-icon>
      </button>
      <button
        mat-button
        routerLink="/settings"
        *ngIf="user"
        (click)="sidenav.close()"
      >
        Settings<mat-icon>settings</mat-icon>
      </button>
      <button
        mat-button
        (click)="openConfirmationDialog(); sidenav.close()"
        *ngIf="user"
      >
        Logout
        <mat-icon>logout</mat-icon>
      </button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
