<form
  [formGroup]="passwordForm"
  (ngSubmit)="changePassword()"
  class="password-form"
>
  <mat-form-field appearance="fill">
    <mat-label>Old Password</mat-label>
    <input
      matInput
      [type]="hideOldPassword ? 'password' : 'text'"
      formControlName="oldPassword"
    />

    <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">{{
      hideOldPassword ? "visibility_off" : "visibility"
    }}</mat-icon>

    <mat-error *ngIf="passwordForm.get('oldPassword')?.hasError('required')">
      Old password is required
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input
      matInput
      [type]="hideNewPassword ? 'password' : 'text'"
      formControlName="newPassword"
    />
    <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{
      hideNewPassword ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">
      New password is required
    </mat-error>
    <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">
      Password must be at least 8 characters long
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirm password</mat-label>
    <input
      matInput
      [type]="hideConfirmNewPassword ? 'password' : 'text'"
      formControlName="confirmNewPassword"
    />
    <mat-icon
      matSuffix
      (click)="hideConfirmNewPassword = !hideConfirmNewPassword"
      >{{ hideConfirmNewPassword ? "visibility_off" : "visibility" }}</mat-icon
    >
    <mat-error *ngIf="passwordForm.hasError('mismatch')">
      Passwords do not match
    </mat-error>
    <mat-error
      *ngIf="passwordForm.get('confirmNewPassword')?.hasError('required')"
    >
      Confirm password is required
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="submitted && passwordForm.hasError('mismatch')">
    Passwords don't match!
  </mat-error>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  <button mat-raised-button color="primary" type="submit">
    Change Password
  </button>
</form>
