<div class="home-container">
    <mat-card class="info-card">
        <mat-card-header>
            <mat-card-title
                >Welcome to the Course Management System</mat-card-title
            >
        </mat-card-header>
        <mat-card-content>
            <p>
                This system is designed to simplify course management for
                teachers.
            </p>
            <mat-card-subtitle>Key features include:</mat-card-subtitle>
            <ul>
                <li>Managing groups of students</li>
                <li>Assigning loads and subjects to teachers</li>
                <li>Managing loads</li>
            </ul>
            <mat-card-subtitle>Teachers can:</mat-card-subtitle>
            <ul>
                <li>View and manage their assigned loads</li>
                <li>Manage their account</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>

<style></style>
