mat-tab {
    padding: 30px;
    min-height: 450px;
}

mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
}

mat-card-content {
    p {
        margin: 15px 0;
    }
    button {
        margin: 0 7px 0 7px;
    }
}
