* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    min-height: 100%;
    min-width: 320px;
    overflow: auto;
}
body {
    height: 100vh;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
